html { 
  font-family: 'Reenie Beanie', cursive;
  font-size: 52px;
  text-align: center;
  color: #00008B;
}

img {
  /* Set rules to fill background */
  vertical-align: middle;
  border-style: none;
}



